/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.logo{
-fx-text-fill: white;
-fx-background-radius: 50.0;
-fx-background-color: #818181;
-fx-font-family: "Copse", serif;
-fx-font-size: 45.0;
}

.mytitle{
    -fx-font-family: "Copse", serif;
    -fx-font-size: 35.0;
    
}